<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aranya.mall.tiny.mbg.mapper.MallProductsMapper">
  <resultMap id="BaseResultMap" type="com.aranya.mall.tiny.mbg.model.MallProducts">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="supplier_id" jdbcType="INTEGER" property="supplierId" />
    <result column="menu_id" jdbcType="INTEGER" property="menuId" />
    <result column="admin_id" jdbcType="INTEGER" property="adminId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="price" jdbcType="NUMERIC" property="price" />
    <result column="discount_price" jdbcType="NUMERIC" property="discountPrice" />
    <result column="small_img" jdbcType="VARCHAR" property="smallImg" />
    <result column="big_img" jdbcType="VARCHAR" property="bigImg" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="left_num" jdbcType="INTEGER" property="leftNum" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="sales_num" jdbcType="INTEGER" property="salesNum" />
    <result column="deleted_at" jdbcType="TIMESTAMP" property="deletedAt" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="is_recommend" jdbcType="INTEGER" property="isRecommend" />
    <result column="weight" jdbcType="NUMERIC" property="weight" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="comment_count" jdbcType="INTEGER" property="commentCount" />
    <result column="is_onshelf" jdbcType="INTEGER" property="isOnshelf" />
    <result column="is_sku" jdbcType="INTEGER" property="isSku" />
    <result column="position" jdbcType="INTEGER" property="position" />
    <result column="sales_position" jdbcType="INTEGER" property="salesPosition" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, supplier_id, menu_id, admin_id, name, price, discount_price, small_img, big_img, 
    num, left_num, remark, sales_num, deleted_at, created_at, updated_at, is_recommend,
    weight, description, comment_count, is_onshelf, is_sku, position, sales_position
  </sql>
  <select id="selectByExample" parameterType="com.aranya.mall.tiny.mbg.model.MallProductsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from mall_products
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mall_products
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from mall_products
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.aranya.mall.tiny.mbg.model.MallProductsExample">
    delete from mall_products
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.aranya.mall.tiny.mbg.model.MallProducts">
<!--    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">-->
<!--      SELECT LAST_INSERT_ID()-->
<!--    </selectKey>-->
    insert into mall_products (supplier_id, menu_id, admin_id, 
      name, price, discount_price, 
      small_img, big_img, num, 
      left_num, remark,
      sales_num, deleted_at, created_at, 
      updated_at, is_recommend, weight, 
      description, comment_count, is_onshelf, 
      is_sku, position, sales_position
      )
    values (#{supplierId,jdbcType=INTEGER}, #{menuId,jdbcType=INTEGER}, #{adminId,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{price,jdbcType=NUMERIC}, #{discountPrice,jdbcType=NUMERIC}, 
      #{smallImg,jdbcType=VARCHAR}, #{bigImg,jdbcType=VARCHAR}, #{num,jdbcType=INTEGER}, 
      #{leftNum,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR},
      #{salesNum,jdbcType=INTEGER}, #{deletedAt,jdbcType=TIMESTAMP}, #{createdAt,jdbcType=TIMESTAMP}, 
      #{updatedAt,jdbcType=TIMESTAMP}, #{isRecommend,jdbcType=INTEGER}, #{weight,jdbcType=NUMERIC}, 
      #{description,jdbcType=VARCHAR}, #{commentCount,jdbcType=INTEGER}, #{isOnshelf,jdbcType=INTEGER}, 
      #{isSku,jdbcType=INTEGER}, #{position,jdbcType=INTEGER}, #{salesPosition,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.aranya.mall.tiny.mbg.model.MallProducts">
<!--    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">-->
<!--      SELECT LAST_INSERT_ID()-->
<!--    </selectKey>-->
    insert into mall_products
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="supplierId != null">
        supplier_id,
      </if>
      <if test="menuId != null">
        menu_id,
      </if>
      <if test="adminId != null">
        admin_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="discountPrice != null">
        discount_price,
      </if>
      <if test="smallImg != null">
        small_img,
      </if>
      <if test="bigImg != null">
        big_img,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="leftNum != null">
        left_num,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="salesNum != null">
        sales_num,
      </if>
      <if test="deletedAt != null">
        deleted_at,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
      <if test="isRecommend != null">
        is_recommend,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="commentCount != null">
        comment_count,
      </if>
      <if test="isOnshelf != null">
        is_onshelf,
      </if>
      <if test="isSku != null">
        is_sku,
      </if>
      <if test="position != null">
        position,
      </if>
      <if test="salesPosition != null">
        sales_position,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="supplierId != null">
        #{supplierId,jdbcType=INTEGER},
      </if>
      <if test="menuId != null">
        #{menuId,jdbcType=INTEGER},
      </if>
      <if test="adminId != null">
        #{adminId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=NUMERIC},
      </if>
      <if test="discountPrice != null">
        #{discountPrice,jdbcType=NUMERIC},
      </if>
      <if test="smallImg != null">
        #{smallImg,jdbcType=VARCHAR},
      </if>
      <if test="bigImg != null">
        #{bigImg,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
      <if test="leftNum != null">
        #{leftNum,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="salesNum != null">
        #{salesNum,jdbcType=INTEGER},
      </if>
      <if test="deletedAt != null">
        #{deletedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="isRecommend != null">
        #{isRecommend,jdbcType=INTEGER},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=NUMERIC},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="commentCount != null">
        #{commentCount,jdbcType=INTEGER},
      </if>
      <if test="isOnshelf != null">
        #{isOnshelf,jdbcType=INTEGER},
      </if>
      <if test="isSku != null">
        #{isSku,jdbcType=INTEGER},
      </if>
      <if test="position != null">
        #{position,jdbcType=INTEGER},
      </if>
      <if test="salesPosition != null">
        #{salesPosition,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.aranya.mall.tiny.mbg.model.MallProductsExample" resultType="java.lang.Long">
    select count(*) from mall_products
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update mall_products
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.supplierId != null">
        supplier_id = #{record.supplierId,jdbcType=INTEGER},
      </if>
      <if test="record.menuId != null">
        menu_id = #{record.menuId,jdbcType=INTEGER},
      </if>
      <if test="record.adminId != null">
        admin_id = #{record.adminId,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null">
        price = #{record.price,jdbcType=NUMERIC},
      </if>
      <if test="record.discountPrice != null">
        discount_price = #{record.discountPrice,jdbcType=NUMERIC},
      </if>
      <if test="record.smallImg != null">
        small_img = #{record.smallImg,jdbcType=VARCHAR},
      </if>
      <if test="record.bigImg != null">
        big_img = #{record.bigImg,jdbcType=VARCHAR},
      </if>
      <if test="record.num != null">
        num = #{record.num,jdbcType=INTEGER},
      </if>
      <if test="record.leftNum != null">
        left_num = #{record.leftNum,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.salesNum != null">
        sales_num = #{record.salesNum,jdbcType=INTEGER},
      </if>
      <if test="record.deletedAt != null">
        deleted_at = #{record.deletedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createdAt != null">
        created_at = #{record.createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatedAt != null">
        updated_at = #{record.updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isRecommend != null">
        is_recommend = #{record.isRecommend,jdbcType=INTEGER},
      </if>
      <if test="record.weight != null">
        weight = #{record.weight,jdbcType=NUMERIC},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.commentCount != null">
        comment_count = #{record.commentCount,jdbcType=INTEGER},
      </if>
      <if test="record.isOnshelf != null">
        is_onshelf = #{record.isOnshelf,jdbcType=INTEGER},
      </if>
      <if test="record.isSku != null">
        is_sku = #{record.isSku,jdbcType=INTEGER},
      </if>
      <if test="record.position != null">
        position = #{record.position,jdbcType=INTEGER},
      </if>
      <if test="record.salesPosition != null">
        sales_position = #{record.salesPosition,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update mall_products
    set id = #{record.id,jdbcType=BIGINT},
      supplier_id = #{record.supplierId,jdbcType=INTEGER},
      menu_id = #{record.menuId,jdbcType=INTEGER},
      admin_id = #{record.adminId,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=NUMERIC},
      discount_price = #{record.discountPrice,jdbcType=NUMERIC},
      small_img = #{record.smallImg,jdbcType=VARCHAR},
      big_img = #{record.bigImg,jdbcType=VARCHAR},
      num = #{record.num,jdbcType=INTEGER},
      left_num = #{record.leftNum,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=VARCHAR},
      sales_num = #{record.salesNum,jdbcType=INTEGER},
      deleted_at = #{record.deletedAt,jdbcType=TIMESTAMP},
      created_at = #{record.createdAt,jdbcType=TIMESTAMP},
      updated_at = #{record.updatedAt,jdbcType=TIMESTAMP},
      is_recommend = #{record.isRecommend,jdbcType=INTEGER},
      weight = #{record.weight,jdbcType=NUMERIC},
      description = #{record.description,jdbcType=VARCHAR},
      comment_count = #{record.commentCount,jdbcType=INTEGER},
      is_onshelf = #{record.isOnshelf,jdbcType=INTEGER},
      is_sku = #{record.isSku,jdbcType=INTEGER},
      position = #{record.position,jdbcType=INTEGER},
      sales_position = #{record.salesPosition,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.aranya.mall.tiny.mbg.model.MallProducts">
    update mall_products
    <set>
      <if test="supplierId != null">
        supplier_id = #{supplierId,jdbcType=INTEGER},
      </if>
      <if test="menuId != null">
        menu_id = #{menuId,jdbcType=INTEGER},
      </if>
      <if test="adminId != null">
        admin_id = #{adminId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=NUMERIC},
      </if>
      <if test="discountPrice != null">
        discount_price = #{discountPrice,jdbcType=NUMERIC},
      </if>
      <if test="smallImg != null">
        small_img = #{smallImg,jdbcType=VARCHAR},
      </if>
      <if test="bigImg != null">
        big_img = #{bigImg,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="leftNum != null">
        left_num = #{leftNum,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="salesNum != null">
        sales_num = #{salesNum,jdbcType=INTEGER},
      </if>
      <if test="deletedAt != null">
        deleted_at = #{deletedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="isRecommend != null">
        is_recommend = #{isRecommend,jdbcType=INTEGER},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=NUMERIC},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="commentCount != null">
        comment_count = #{commentCount,jdbcType=INTEGER},
      </if>
      <if test="isOnshelf != null">
        is_onshelf = #{isOnshelf,jdbcType=INTEGER},
      </if>
      <if test="isSku != null">
        is_sku = #{isSku,jdbcType=INTEGER},
      </if>
      <if test="position != null">
        position = #{position,jdbcType=INTEGER},
      </if>
      <if test="salesPosition != null">
        sales_position = #{salesPosition,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aranya.mall.tiny.mbg.model.MallProducts">
    update mall_products
    set supplier_id = #{supplierId,jdbcType=INTEGER},
      menu_id = #{menuId,jdbcType=INTEGER},
      admin_id = #{adminId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      price = #{price,jdbcType=NUMERIC},
      discount_price = #{discountPrice,jdbcType=NUMERIC},
      small_img = #{smallImg,jdbcType=VARCHAR},
      big_img = #{bigImg,jdbcType=VARCHAR},
      num = #{num,jdbcType=INTEGER},
      left_num = #{leftNum,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      sales_num = #{salesNum,jdbcType=INTEGER},
      deleted_at = #{deletedAt,jdbcType=TIMESTAMP},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      is_recommend = #{isRecommend,jdbcType=INTEGER},
      weight = #{weight,jdbcType=NUMERIC},
      description = #{description,jdbcType=VARCHAR},
      comment_count = #{commentCount,jdbcType=INTEGER},
      is_onshelf = #{isOnshelf,jdbcType=INTEGER},
      is_sku = #{isSku,jdbcType=INTEGER},
      position = #{position,jdbcType=INTEGER},
      sales_position = #{salesPosition,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>